<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="close()" title="Close Detail">
    <ion-fab-button>
      <ion-icon name="close" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-grid class="ion-padding">

    <ion-row class="ion-padding">

      <ion-col size="12" class="ion-margin-auto ion-text-center">
        <ion-text>
          <h1>Detail Info User</h1>
        </ion-text>
      </ion-col>

      <ion-col size-sm="12" size-md="8" offset-md="2">
        <ion-item>
          <ion-label position="stacked">
            ID User
          </ion-label>
          <ion-input type="text" readonly [value]='userInfo?.idUser'></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size-sm="12" size-md="8" offset-md="2">
        <ion-item>
          <ion-label position="stacked">
            Name
          </ion-label>
          <ion-input type="text" readonly [value]='userInfo?.userName'></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size-sm="12" size-md="8" offset-md="2">
        <ion-item>
          <ion-label position="stacked">
            Email
          </ion-label>
          <ion-input type="text" readonly [value]='userInfo?.email'></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size-sm="12" size-md="8" offset-md="2">
        <ion-item>
          <ion-label position="stacked">
            PhoneNumber
          </ion-label>
          <ion-input type="text" readonly [value]='userInfo?.phone'></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size-sm="12" size-md="8" offset-md="2">
        <ion-item>
          <ion-label position="stacked">
            User Type
          </ion-label>
          <ion-input type="text" readonly [value]='userInfo?.type'></ion-input>
        </ion-item>
      </ion-col>


    </ion-row>

  </ion-grid>
</ion-content>