<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Select user to chat</ion-title>

    <ion-buttons slot="end">
     <ion-button>
      <ion-icon slot="icon-only" ios="reload-circle-outline" md="reload-circle-sharp"></ion-icon>
     </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row *ngIf="loadingUsers" class="ion-padding-top">
    <ion-col size="12" class="ion-text-center">
      <ion-spinner></ion-spinner> <br>
      <ion-text>
        <ion-note>Loading...</ion-note>
      </ion-text>
    </ion-col>
  </ion-row> 

  <ion-list *ngIf="(users |async)">
    <ion-item *ngFor="let user of usersFiltered" >
      <ion-label> {{user.userName}} </ion-label>
      
      <ion-button slot="end" fill="clear" (click)="initChat(user)">
        <!-- <ion-icon name="chatboxes" size="large" color="primary"></ion-icon> -->
        <ion-icon name="chatbox" size="large" color="primary"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>