 
  .contentBg {
    --background: #2f517c; /* fallback for old browsers */
    --background: -webkit-linear-gradient(
      to bottom,
      #2f517c,
      #56b4d3
    ); /* Chrome 10-25, Safari 5.1-6 */
    --background: linear-gradient(
      to bottom,
      #2f517c,
      #56b4d3
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 0 !important;
    --padding-bootm: 0 !important;
  }
  
  .onlineOffline_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    // background-color: ;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0;
    border: 1.5px solid white;
  }
  .UserimgSection {
    position: relative;
  }
  
  .userBadge {
    border-radius: 90px;
    width: 24px;
    height: 24px;
    background: var(--ion-color-light);
    color: var(--ion-color-dark);
    align-items: center;
    display: flex;
    font-size: 14px;
    justify-content: center;
    position: absolute;
    top: 40px;
  }
  
  .usernameSection {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 15px;
  }
  
  .descText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    color: #bfc3c6;
    font-size: 12px;
  }
  
  ion-img {
    width: 100%;
    height: 100%;
  }
  
  .listSection {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 97%;
    overflow-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .borderBottomLine {
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #cfcfd1;
    height: 65px;
    left: 92px;
  }
  
  .borderBottomLineNoneChat {
    display: block;
    width: 100%;
    border-bottom: 1px solid #cfcfd1;
    height: 100%;
  }
  .lastSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 73%;
    padding-top: 2px;
  }
  .fontSize {
    font-size: 30px;
  }
  h5 {
    margin-bottom: 5px;
    margin-top: 12px;
    font-size: 16px;
  }
  ion-note {
    font-size: 14px;
  }
  
  .sendTime {
    color: var(--ion-color-medium);
  }