<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> User Detail </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid class="roundGrid" *ngIf="dataForm">

    <form [formGroup]="dataForm" (ngSubmit)="submitData()">
      <ion-row>
        <ion-col>
          <ion-item class="ion-text-capitalize">
            <ion-label position="floating" color="primary">
              Full Name
            </ion-label>
            <ion-input formControlName="userName"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="primary">
              Phone
            </ion-label>
            <ion-input type="tel" formControlName="phone"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="primary">
              Email
            </ion-label>
            <ion-input class="ion-text-lowercase" formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="primary">
              Type
            </ion-label>
            <ion-select okText="Select" cancelText="Cancel" formControlName="type">
              <ion-select-option *ngFor="let item of db.userType$" [value]="item.id"> {{item.text}} </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="primary">
              Avatar
            </ion-label>
            <ion-input formControlName="avatar"></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>

      <ion-row class="ion-padding">
        <ion-col size="8" offset="2">
          <ion-button [disabled]="!dataForm.valid" fill="outline" expand="block" shape="round" type="submit">
            {{ id ? 'Update' : 'Register'}}
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

</ion-content>