<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{chatSelected?.title | titlecase }}</ion-title>
  </ion-toolbar>

  <ion-progress-bar [hidden]="!loadingAFile" [value]="manageFiles.uploadProgress" color="success"></ion-progress-bar>
</ion-header>

<ion-content #IonContent [fullscreen]="true" (click)="ionContentTapped()">
  <ion-row class="ion-padding-top" *ngIf="loadingChats">
    <ion-col size="12" class="ion-text-center ion-no-padding">
      <ion-spinner></ion-spinner>
    </ion-col>
    <ion-col size="12" class="ion-text-center ion-no-padding">
      <ion-text>
        <ion-note>Loading...</ion-note>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-list *ngIf="chatSelected">
    <ion-row>
      <ion-col>
        <!-- Show Created Date for Chat Always -->
        <ion-text color="medium">Chat Created at {{calendarDayFormat()}}</ion-text>
      </ion-col>
    </ion-row>

    <div *ngFor="let message of msgList; let i = index; trackBy: trackByFnmessages ">
      <!-- Validation show grouped Chats for Same Date  -->
      <ion-row *ngIf=" !checkSameDay(i) ; else elseBlock" class="ion-padding-vertical">
        <ion-col>
          <ion-text class="chatsDatesGrouped">{{ calendarDayFormat(message.timestamp.toDate()) }}</ion-text>
        </ion-col>
      </ion-row>

      <ng-template #elseBlock>
        <span class="ion-padding-vertical">
          <br />
        </span>
      </ng-template>

      <!-- ROW FOR MESSAGE RECIEVED -->

      <ion-row *ngIf="message.idSender == chatSelected.idUserReciever">
        <ion-col class="right ion-no-padding"
          [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].idSender != message.idSender)|| !msgList[i+1])}">
          <div class="imageAvatarRight">
            <div class="imageAvatarBottom">
              <ion-avatar class="avatar"
                [ngClass]="(msgList[i+1] && msgList[i+1].idSender == message.idSender)?'hidden':''">
                <!-- <div class="imageAvatarBottomIcon">
                  <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
                </div> -->
                <ion-img [src]="chatSelected?.userReciever?.avatar ? chatSelected.userReciever?.avatar : './assets/icon/favicon.png'" (ionError)="utilService.srcFallBackImg($event)"></ion-img>
              </ion-avatar>
            </div>
            <ion-label color="light">
              <div class="chatDiv" [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].idSender == message.idSender) && 
              (msgList[i-1] && msgList[i-1].idSender == message.idSender)),
              'sharper-top':(msgList[i-1] && msgList[i-1].idSender == message.idSender),
              'sharper-bottom':(msgList[i+1] && msgList[i+1].idSender == message.idSender)}">
                <!-- TEXT MESSAGE -->
                <ion-text color="dark" *ngIf="message.type == 'string'">
                  <p class="ion-text-wrap ion-padding" color="dark" [innerText]="message.message"></p>
                </ion-text>

                <!-- IMAGE OR PHOTO MESSAGE -->
                <div *ngIf="message.type == 'image'" class="imgBox">
                  <ion-img-viewer class="imgBox" [src]="message.fileURL" [srcFallback]="message.fileURL"
                    [title]="utilService.toTitleCase(chatSelected.title) + ' - ' + utilService.timeFromNow(message.timestamp.toDate())"
                    titleSize="small" scheme="dark" [slideOptions]="{ zoom: { maxRatio: 7 }}"></ion-img-viewer>
                </div>

                <!-- DOCUMENT/FILE MESSAGE -->
                <div *ngIf="message.type == 'file'" class="fileBox">
                  <ion-item lines="full" [button]="true" (click)="openFileMessage(message)">
                    <ion-icon slot="start" ios="document-attach-outline" md="document-attach-sharp"></ion-icon>
                    <ion-text>
                      <p class="ion-text-wrap" color="dark" [innerText]="message.localFileName"></p>
                    </ion-text>
                  </ion-item>
                </div>

                <div class="corner-parent-right">
                  <div class="corner-child-right"></div>
                </div>

                <div class="timeBubbleChat">
                  <ion-text color="medium">
                    <p class="timeChat">
                      <small>{{message.timestamp.toDate() | date:
                        'shortTime'}}</small>
                    </p>
                  </ion-text>
                </div>
              </div>
            </ion-label>
          </div>
        </ion-col>
      </ion-row>

      <!-- ROW FOR MESSAGES Sended -->
      <ion-row *ngIf="message.idSender == userSesion.idUser">
        <ion-col class="left ion-no-padding"
          [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].idSender != message.idSender)|| !msgList[i+1])}">
          <div class="imageAvatarLeft">
            <ion-label color="light">
              <div class="chatDiv" [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].idSender == message.idSender) && 
              (msgList[i-1] && msgList[i-1].idSender == message.idSender)),
              'sharper-top':(msgList[i-1] && msgList[i-1].idSender == message.idSender),
              'sharper-bottom':(msgList[i+1] && msgList[i+1].idSender == message.idSender)}">
                <!-- TEXT MESSAGE -->
                <ion-text color="dark" *ngIf="message.type == 'string'">
                  <p class="ion-text-wrap ion-padding" color="dark" [innerText]="message.message"></p>
                </ion-text>

                <!-- IMAGE OR PHOTO MESSAGE -->
                <div *ngIf="message.type == 'image'" class="imgBox">
                  <!-- img Tag for handling Control Image Response from local Path -->
                  <ion-img-viewer class="imgBox" [src]="(isCordova ? message.path : message.fileURL)"
                    [srcFallback]="message.fileURL"
                    [title]="utilService.toTitleCase(chatSelected.title) + ' - ' + utilService.timeFromNow(message.timestamp.toDate())"
                    titleSize="small" scheme="dark" [slideOptions]="{ zoom: { maxRatio: 7 }}"></ion-img-viewer>
                </div>

                <!-- DOCUMENT/FILE MESSAGE -->
                <div *ngIf="message.type == 'file'" class="fileBox">
                  <ion-item lines="full" [button]="true" (click)="openFileMessage(message)">
                    <ion-icon slot="start" ios="document-attach-outline" md="document-attach-sharp"></ion-icon>
                    <ion-text>
                      <p class="ion-text-wrap" color="dark" [innerText]="message.localFileName"></p>
                    </ion-text>
                  </ion-item>
                </div>

                <div class="corner-parent-left">
                  <div class="corner-child-left"></div>
                </div>

                <div class="timeBubbleChat">
                  <ion-text color="medium">
                    <p class="timeChat">
                      <small>{{message.timestamp.toDate() | date:
                        'shortTime'}}</small>
                    </p>
                  </ion-text>
                </div>
              </div>
            </ion-label>
            <div class="imageAvatarBottom">
              <!-- <ion-icon class="imageAvatarBottomIcon" name="add" expand="icon-only" color="success"></ion-icon> -->
              <ion-avatar class="avatar"
                [ngClass]="(msgList[i+1] && msgList[i+1].idSender == message.idSender)?'hidden':''">
                <!-- <div class="imageAvatarBottomIcon">
                  <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
                </div> -->
                <ion-img [src]="userSesion?.avatar ? userSesion?.avatar : './assets/icon/favicon.png'"></ion-img>
              </ion-avatar>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-list>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)=" sendMsg()">
      <ion-icon name="send" expand="icon-only"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <!-- section for another user typing...  -->
  <ion-row *ngIf="loader" class="rowTypingSender">
    <ion-col class="ion-no-padding loading-col">
      <div class="imageAvatarRight">
        <div class="imageAvatarBottomLoader">
          <ion-avatar class="avatar">
            <ion-img src="./assets/icon/favicon.png"></ion-img>
          </ion-avatar>
        </div>
        <ion-label>
          <div class="chatDivLoader">
            <ion-spinner name="dots" color="light"></ion-spinner>
            <!-- <ion-img src="./assets/img/chat/loader.gif"></ion-img> -->
            <!-- <p text-wrap padding> {{paramData.name || 'Pam'}} is typing...</p> -->
            <div class="corner-parent-right">
              <div class="corner-child-right"></div>
            </div>
          </div>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer [translucent]="true">
  <ion-item class="ion-align-items-center ion-no-padding">
    <ion-buttons slot="start">
      <input hidden type="file" #uploader (change)="onFileSelected($event)" />

      <ion-button (click)="toggleAttachBox()" color="primary">
        <ion-icon slot="icon-only" ios="attach-outline" md="attach-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-textarea #area autosize [maxRows]="4" [spellcheck]="true" [rows]="1" class="input-box"
      placeholder="Write a message..." [(ngModel)]="user_input" (ionFocus)="ionInputTapped()"
      (keypress)="userTyping($event)"></ion-textarea>

    <ion-buttons slot="end">
      <ion-button (click)="sendMsg()" color="primary">
        <ion-icon slot="icon-only" ios="send-outline" md="send-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ng-container *ngIf="attachBox">
    <ion-list>
      <ion-row class="attchRow">
        
        <!-- <ion-col class="footer_col ion-activatable ripple-parent" size="4"
          (click)="selectAttach('document' , uploader)">
          <ion-label class="attchLabel">
            <ion-icon class="attchIcon" slot="icon-only" ios="document-outline" md="document-sharp"></ion-icon>

            <p>Document</p>
          </ion-label>

          <ion-ripple-effect></ion-ripple-effect>
        </ion-col> -->

        <ion-col *ngIf="isCordova" class="footer_col ion-activatable ripple-parent" size="6"
          (click)="selectAttach('camera' , uploader)">
          <ion-label class="attchLabel">
            <ion-icon class="attchIcon" slot="icon-only" ios="camera-outline" md="camera-sharp"></ion-icon>

            <p>Camera</p>
          </ion-label>

          <ion-ripple-effect></ion-ripple-effect>
        </ion-col>

        <ion-col class="footer_col ion-activatable ripple-parent" size="6" (click)="selectAttach('gallery' , uploader)">
          <ion-label class="attchLabel">
            <ion-icon class="attchIcon" slot="icon-only" ios="images-outline" md="images-sharp"></ion-icon>

            <p>Gallery</p>
          </ion-label>

          <ion-ripple-effect></ion-ripple-effect>
        </ion-col>

        <!-- <ion-col class="footer_col ion-activatable ripple-parent" size="4">
          <ion-label class="attchLabel">
  
            <ion-icon class="attchIcon" slot="icon-only" ios="mic-outline" md="mic-sharp"></ion-icon>
  
            <p>Audio</p>
          </ion-label>

          <ion-ripple-effect></ion-ripple-effect>
        </ion-col>

        <ion-col class="footer_col ion-activatable ripple-parent" size="4">
          <ion-label class="attchLabel">
  
            <ion-icon class="attchIcon" slot="icon-only" ios="location-outline" md="location-sharp"></ion-icon>
  
            <p>Location</p>
          </ion-label>

          <ion-ripple-effect></ion-ripple-effect>
        </ion-col>

        <ion-col class="footer_col ion-activatable ripple-parent" size="4">
          <ion-label class="attchLabel">
  
            <ion-icon class="attchIcon" slot="icon-only" ios="videocam-outline" md="videocam-sharp"></ion-icon>
  
            <p>Video</p>
  
          </ion-label>

          <ion-ripple-effect></ion-ripple-effect>
        </ion-col> -->
      </ion-row>
    </ion-list>
  </ng-container>
</ion-footer>