/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//toast Chat pushing top a little bit for statusBar
.toastChat{
  top: calc(20px + var(--ion-safe-area-top, 0px)) !important;
}

// NGX IMAGE VIEWER
.ionic-selectable-modal ion-header ion-toolbar{
 padding-top: 1.5rem !important;
}

ion-viewer-modal ion-header ion-toolbar{
  padding-top: 1.2rem !important;
}

ion-viewer-modal ion-content{
  img{
    padding-top: 1.2rem !important;
  }
}

// CHAT PAGE IMG BOX
.imgBox {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 70vw;
  height: 22vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}

//Badge Unreaded Messages 
.badge-floating{
  --padding-start: 0.5rem;
  --padding-end: 0.5rem;
  --padding-top: 0.3rem;
  --padding-bottom: 0.3rem;
  position: absolute;
  right: 0;
  border-radius: 200px;
}

.badge-floating-home{
  --padding-start: 0.4rem;
  --padding-end: 0.4rem;
  position: absolute;
  top: 2px;
  left: 30px;
  border-radius: 200px;
}

.badge-floating-end{
  --padding-start: 0.5rem;
  --padding-end: 0.5rem;
  --padding-top: 0.3rem;
  --padding-bottom: 0.3rem;
  position: absolute;
  right: 2%;
  top: 25%;
  border-radius: 200px;
}

.badge-floating-support{
  --padding-start: 0.5rem;
  --padding-end: 0.5rem;
  --padding-top: 0.3rem;
  --padding-bottom: 0.3rem;
  position: absolute;
  left: 0;
  border-radius: 200px;
}

// UTILS CLASS

.overflow-hidden {
  overflow-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
