<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-list>
    <ion-item lines="full" button="true" (click)="utilService.toggleTheme()">
      <ion-icon *ngIf="!utilService.preferedDarkTheme" slot="start" ios="sunny-outline" md="sunny-sharp"></ion-icon>
      <ion-icon *ngIf="utilService.preferedDarkTheme" slot="start" ios="moon-outline" md="moon-sharp"></ion-icon>
      <ion-label>
        Toggle Dark Theme
      </ion-label>
      <ion-toggle [checked]="utilService.preferedDarkTheme" slot="end"></ion-toggle>
    </ion-item>

    <!-- <ion-item lines="full">
      <ion-icon *ngIf="utilService.preferedDarkTheme" slot="start" ios="return-down-back-outline" md="return-down-back-sharp"></ion-icon>
      <ion-label>
       Enter to send message
      </ion-label>
      <ion-toggle [checked]="" (ionChange)="" slot="end"></ion-toggle>
    </ion-item> -->

  </ion-list>

</ion-content>
